.df{
	max-width: 1200px;
	margin: 0 auto;	
}
.header{
	display: flex;
  	flex-wrap: wrap;
  	align-content: space-between;
}
.hd{
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
}
.logo{
	display: flex;
	flex-direction: row;
}
.logo .cn{
	display: block;
	font-weight: bold;
	font-size: 22px;
	color: #464747;
}
.logo .en{
	display:inline-block;
	font-size: 12px;
	color: #b0b0b0;
}
.link a{
	display: inline-block;
	width: 24px;
}
.link a img{
	width:100%;
}
.links li{
	width: 105px;
	text-align: center;
}
.links .nav-item .nav-link{
	font-size: 16px;
	color: #696969;
}
.links .nav-item .nav-link:hover{
	color: #DA251D;
}
.search form{
	margin-top: 7px;
}
.search input{
	border: 0;
	width: 200px;
	height: 27px;
	line-height: 27;
	border-bottom: 1px solid #e5e5e5;
	outline: none;
}
.search form .submit{
	background: url(../img/serchs.png);
	vertical-align: middle;
	width: 27px;
	background-size: 100% 100%;
	cursor: pointer;
    font-size: 0;
    border: 0;
    margin: 0;
}
@media (min-width: 768px){
	.navbar .clnav{
		display:none!important;
	}
}
.lkn a{
	display: block;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    width: 80%;
    margin: 0 auto;
    line-height: 2rem;
    color: #666;
}
.carousel-item img{
	width: 100%;
}
.carousel-indicators li{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #b9b9b9;
}
.carousel-indicators .active,.carousel-indicators li:hover{
	background-color: #DA251D;
}

/* 产品中心 */
.product{
	width: 100%;
	height: auto;
	padding: 60px 0;
	background-color: #f8f8f8;
	overflow: hidden;
}
.cp{
	max-width: 1200px;
	margin: 0 auto;
}

/*** 标题样式 ****/
.titles{
	text-align: center;
	font-size: 24px;
	margin: 0 auto 60px;
}
.titles .en{
	display: inline-block;
	color: #787878;
}
.titles .cn{
	display: inline-block;
	border-bottom: 1px solid #da251d;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 8px;
}
/* 产品列表轮播 */
.cp .cp-ul{
	bottom: -40px;
}
.cp .row a{
	text-decoration: none;
	color: #555555;
	font-size: 18px;
	font-weight: bold;
}
.cp dd{
	background-color: #ffffff;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}