*{font-size: 14px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#F0F0F0; color:#555; font-size:14px; font-family:"微软雅黑", Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a ,a:hover{ color:#555; text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
nav{
	max-width: 1200px;
	margin: 0 auto;
}
.num{
	font-size: 21px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #DA251D;
}
.wenzi{
	letter-spacing: 4px;
	color: #666666;
}
.np{
	font-size: 14px;
	height: 24px;
	width: 218px;
	line-height: 24px;
	text-align: center;
	margin: 0 120px 0 20px;
	background-color: #DA251D;
	color: #FFFFFF;
}
.nav-justified li{
	width: 100px;
}
.nav-justified li a:hover,.nav-justified li a:focus,.nav-justified li a.active{
	width: 100px;
	background-color: #DA251D;
	color: #FFFFFF;
}
.nav-justified li .dropdown-menu{
	margin: 0;
}
.nav-justified li:hover .dropdown-menu{
	display: block;	
}
.xing{
	font-size: 16px;
	color: rgb(255,242,204);
	margin: 10px 0;
	text-align: center;
	vertical-align: middle;
}
.dowebok a{
	font-size: 14px;
	color: #FFFF00;
	background: none;
	margin: 0 25px;
}
.but{
	width: 450px;
	margin: 10px auto;
}
.btn{
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
	width: 200px;
	height: 45px;	
}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none; 
    box-shadow: none;         
}
.btn-ind1{
	background-color: #F99500;
}
.btn-ind1:hover{
	background-color: #D86262;
	
}
.btn-ind2{
	margin-left: 43px;
	background-color: #649F4B;
}
.btn-ind2:hover{
	background-color: #90C07B;
}
.hh{
	border-left: 4px solid #DA251D;
	padding-left: 10px;
	font-size: 21px;
	margin-bottom: 10px;
}
.tab { 
	float: left;
	position:relative;
	padding: 0;
}
.tab_menu { 
	height:28px;
	position:absolute; 
	bottom:0; 
	left:0;
	background-color:#000;
	/*opacity:0.5;
	filter:alpha(opacity=50);*/
}
.tab_menu ul{
	position:absolute;
	right:6px;
	top:4px;
}
 .tab_menu li { 
	float:left; 
	text-align:center; 
	cursor:pointer;   
	margin-right:4px; 
	background:#444;
	color:#b1b1b1;
	width:20px;
	height:20px;
	line-height:20px;
}
 .tab_menu li.hover,.tab_menu li.selected {
	color:#FFF;
	background-color:#f60;
}
 .hide{display:none}
.row{
	float: left;
}
.thumbnail{
	border: 1px solid #F0F0F0;
	padding: 10px;
	margin-top: 20px;
}
.thumbnail img{
	width: 100%;
}
.all .caption a{
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #5a5a5a;
}
.all .caption a:hover{
	color: #DA251D;
}
.all .caption p{
	font-size: 10px;
}
.h3{
	font-size: 30px;
	color: #FFFFFF;
	font-weight: bold;
}
.info{
	width: 100%;
	max-height: 400px; 
	padding: 50px;
	background-image: url(../img/R.jpg); 
	background-position: center 0;
  	background-repeat: no-repeat;
  	background-size: cover;
  	-webkit-background-size: cover;
  	-o-background-size: cover;
  	-moz-background-size: cover;
  	-ms-background-size: cover;
  	
}
.info-img{
	margin-top: 20px;
	background: url(../img/55.png) no-repeat;
	position: relative;
	color: #FFFFFF;
}
.sp1{
	padding-left: 23px;
}
.sp2{
	position: absolute;
	top: 0;
	left: 170px;
}
.sp3{
	position: absolute;
	top: 0;
	left: 300px;
}
.nr{
	margin-top: 20px;
	overflow: auto;
	height: 145px;
	color: #FFFFFF;
}
/*滚动条样式*/
.nr::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.nr::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
.nr::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.more{
	margin-top: 20px;
	overflow: hidden;
}
.more a{
	float: right;
	display: block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	color: #DA251D;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}
.more a:hover{
	border: 1px solid #FFFFFF;
	background: rgba(250,250,250,0);
	color: #FFFFFF;
	background:rgba(250,250,250,0); filter: 	progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);
}

.adv{
	background-image: url(../img/GH.jpg);
	width: 100%;
	max-height: 714px; 
	padding: 50px;
	background-position: center 0;
  	background-repeat: no-repeat;
  	background-size: cover;
  	-webkit-background-size: cover;
  	-o-background-size: cover;
  	-moz-background-size: cover;
  	-ms-background-size: cover;
  	overflow: hidden;
}
.wave{
	margin: 0 auto;
	width: 10rem;
	height: 7.5px;
	background-size: 15px 15px;
	background-repeat:repeat-x;
	background-image: linear-gradient(135deg, transparent 45%, #DA251D 55%,transparent 60%),linear-gradient(45deg,transparent 45%,#DA251D 55%,transparent 60%);
}
.cn{
	font-size: 30px;
	font-weight: bold;
	margin: 0 auto;
}
.pbox{
	width: 100px;
	height: 100px;
	background-color: #32302F;
	text-align: center;
	line-height: 40px;
	padding: 10px;
	float: left;
	
}
.pbox:hover,.adv .active{
	background-color: #C60000;
}
.adv .active:hover{
	background-color: #32302F;
}
.pbox:hover .ps2,.adv .active .ps2{
	color: #EE3333;
	border-top-color: #EE3333;
}
.pbox span{
	display: inline-block;
}
.ps1{
	font-size: 24px;
	color: #FFFFFF;
}
.ps2,.adv .active:hover .ps2{
	border-top: 1px solid #616161;
	font-size: 16px;
	color: #616161;
}
.adiv{
	background-color: #FFFFFF;
	height: 220px;
	width: 425px;
	float: left;
	padding: 20px 25px;
	line-height: 240%;
}
.red{
	color: #C60000;
	font-size: 20px;
	font-weight: bold;
}
.li li{
	list-style: disc;
	color: #C60000;
	margin-left: 20px;
	line-height: 250%;
}
.li li span{
	color: #666666;
}
.adv-we{
	float: left;
	margin-top: 30px;
}
.about{
	padding: 50px;
}
.ab{
	float: left;
	height: 347px;
	background-color: #FFFFFF;
	padding: 20px;
	line-height: 150%;
	font-size: 16px;
}
.hong{
	font-size: 18px;
	font-weight: bold;
	color: #DA251D;
	margin-bottom: 30px;
}
.tu{
	float: left;
}
.full-content{
	background-color: #CCCCCC;
	padding: 20px;
}
.container{
	overflow: hidden;
}
.menu li { 
	float:left; 
	text-align:center; 
	cursor:pointer;   
	color: #FFFFFF;
	background-color:#454545;
	height:48px;
	line-height: 48px;

}
 .menu li.hover,.menu li.selected {
	color:#FFFFFF;
	background-color:#BF2B25;
}
.design .col-md-3{
	padding-left: 5px;
	padding-right: 5px;
}
.design .thumbnail{
	padding: 0;
	border: none;
}
.design .caption a{
	font-size: 13px;
	color: #5A5A5A;
}
.d_box{
	background-color: #FFFFFF;
	height: 448px;
	padding: 13px;
}

.show li{
	overflow: hidden;
	line-height: 250%;
	border-bottom: 1px dashed #c6c6c6;
}
.show li a{
	float: left;
	color: #5A5A5A;
	
}
.date{
	float:right;
	color: #acacac;
	font-size: 11px;
}
a.more{
	float: right;
	background-color: #6BCF1F;
	font-size: 12px;
	color: #FFFFFF;
}
.faq{
	background-color: #FFFFFF;
	height: 496px;
	float: left;
	padding: 20px;
}
.faq .q1{
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: #959595;
	font-size: 25px;
	color: #FFFFFF;
	border-radius: 50px;
	text-align: center;
	line-height: 25px;
}
.faq .q2{
	font-size: 16px;
}
.faq .q3{
	font-size: 12px;
	color: #9F9F9F;
}
.faq li{
	border-bottom: 1px dashed #C6C6C6;
	line-height: 250%;
	margin: 10px 0;
	font-size: 12px;
}
.faq .que a{
	font-weight: bold;
}
.foot-nav{
	height: 50px;
	background-color: #A12420;
}
.foot-nav ul{
	overflow: hidden;
	height: 50px;
}
.foot-nav ul li{
	float: left;
	width: 20%;
	text-align: center;
	line-height: 50px;
}
.foot-nav li a{
	color: #FFFFFF;
}
.foot-nav ul li a:hover{
	color: #ff0000;
}
.foot-dre{
	height: 200px;
	background-color: #BF2B25;
	padding: 20px;
	overflow: hidden;
}
.foot-dre .logo{
	width: 10%;
	float: left;
}
.foot-dre .dre{
	float: left;
	margin-left:20px;
	color: #FFFFFF;
}
.con{
	overflow: hidden;
}
.left{
	height: auto;
	float: left;
	margin-bottom: 50px;
}
.lf1{
	background-color: #C60001;
	height: 120px;
	overflow: hidden;
}
.lf1 .bt{
	border: 1px solid #FFFFFF;
	margin: 10px;
	height: 100px;
	text-align: center;
	color: #FFFFFF;
	padding: 10px;
	line-height: 200%;
}
.lf1 .lcn{
	font-size: 25px;
	font-weight: bold;
}
.lf1 .fg{
	font-size: 45px;
}
.lf2{
	background-color: #FFFFFF;
	padding: 10px;
}
.lf2 li{
	height: 52px;
	border-bottom: 1px dashed #CCCCCC;
	cursor: pointer;
	text-align: center;
	line-height: 52px;
}
.lf2 li a{
	display: inline-block;
	width: 100%;
}
.lf2 li:hover a, .lf2 .lihover a{
	background-image: url(../img/433.jpg);
	background-repeat: no-repeat;
	color: #FFFFFF;
}
.lf3{
	background-color: #FFFFFF;
	margin-top: 100px;
	
}
.lf3 img{
	width: 100%;
}
.lf3 div{
	padding: 20px;
	line-height: 200%;
}
.lf3 p{
	font-size: 13px;
}
.right{
	background-color: #FFFFFF;
	padding: 10px;
	min-height: 500px;
	float: left;
	position: relative;
}
.newlist li{
	height: 50px;
	line-height: 50px;
	border-bottom: 1px dotted #C6C6C6;
	padding: 0 5px;
}
.pagination{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%,-50%);
}
.page-item{
	margin-left: 5px;
}
.page-link:hover,.page-item .active{
	background-color: #FF6C16;
	color: #FFFFFF;
}




































































